@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* default style for everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* the background */
body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
/* ALL THE CONTAINERS */
.container {
  background-color: #ffffffa0;
  border-radius: 30px;
  border: 2px solid white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  position: relative;
  height: 650px;
  margin-bottom: 20px;
}

.main {
  width: 1350px;
  transform: scale(0.8);
}

/* the contents */
.upload {
  position: relative;
  margin-top: 35px;
  height: 600px;
  width: 700px;
  left: 65px;
  /* border: 2px solid green;   */
}
.refresh-container {
  position: relative;
  top: -1098px;
  left: 970px;
  width: 350px;
  height: 600px;
  /* border: 2px solid green; */
}
.ports {
  position: relative;
  top: 40px;
  /* left: 0px; */
  width: 350px;
  height: 350px;
  /* border: 2px solid green; */
}

/* ALL THE BUTTONS */
.container button {
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.post {
  background-color: #664e9fdf;
  position: relative;
  top: 200px;
  left: 0px;
  transform: scale(1.2);
}

.retrieve {
  background-color: #664e9fdf;
  position: relative;
  top: -1180px;
  left: 1060px;
  transform: scale(1.2);
}
.delete {
  background-color: rgb(233, 45, 45);
  height: 50px;
  transform: scale(0.6);
}

.post:hover {
  background: #3304a0df;
}
.retrieve:hover {
  background: #3304a0df;
}
.delete:hover {
  background-color: rgb(172, 32, 32);
}

/* vertical line */
.vl {
  position: relative;
  border-left: 2px solid #3e3d3d;
  top: -550px;
  height: 500px;
  left: 900px;
}

/*BASED ON A TUTORIAL*/
/*Choose file design*/
input[type="file"] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #664e9fdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #3304a0df;
}

/* drop files container */
.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 30px;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #656464;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

/* hover feature for dotted line */
.drop-container:hover {
  background: #e9e6e6;
  border-color: #0e0b0b;
}

/* hover feature for the container itself */
.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

.drop-container.drag-active {
  background: #eee;
  border-color: #111;
}

.drop-container.drag-active .drop-title {
  color: #222;
}
